{{#each this}}
  <div class="country-info"></div>
    <li class='country_chars'>
      Flag:
      <img src='{{this.flags.svg}}' alt='flag of {{this.name.official}}' />
    </li>
    <li class='country_chars'>Capital: {{this.capital}}</li>
    <li class='country_chars'>Population: {{this.population}}</li>
    <li class='country_chars'>
      {{#each languages}}
        <p>Language: {{this}}</p>
      {{/each}}
    </li>
  </ul>
{{/each}}